# Changes on this file requires a restart on the server
#
# Set the name of the server as it appears on the server browser (replacing My Server with the name
# of your choice).
SERVER_NAME="ZGO:US | Stay at Home PLAYING CO-OP!"

# Maximum number of players that can join the server. On coop servers, this is only the number of
# human players.
MAXPLAYERS=12

# Define which maps are enabled in the game. The starting map will be a random one from this list.
AVAILABLE_MAPS=(
	Canyon,Crossing
	Farmhouse,Farmhouse
	Town,Hideout
	Precinct,Precinct
	Oilfield,Refinery
	Mountain,Summit
	Compound,Outskirts
	Ministry,Ministry
	Sinjar,Hillside
	PowerPlant,PowerPlant
)

# Select which settings you want to load the server of. This is the file that will be copied to the
# server folder as the Game.ini.
# It must be located at /etc/sandstorm
GAME_CONFIG_FILE="Hard.ini"

# The game modes that will be available for the server.
# Available: Checkpoint, CheckpointHardcore, Domination, Firefight_East, Firefight_West, Frontline,
# Push, Skirmish and Team_Deathmatch
GAMEMODES=(Checkpoint)

# Teams that can be selected on Checkpoint and Push maps
# Available: Security, Insurgents
GAMEMODE_TEAMS=(Security)

# The list of active mutators we want in our game
# See list of available mutators: https://insurgencysandstorm.mod.io/guides/server-admin-guide
MUTATORS=(FastMovement NoAim Vampirism)

# This is the GSLT token registered at Steam so the Game Stats can work on this server
# This token must be created for the game ID 581320
GSLT_TOKEN="{{ gslt_token }}"

# Admin steam IDs
ADMINS=(76561198067279554 76561198071790291)
