[Unit]
Description=Insurgency Sandstorm Server
After=network.target

[Service]
Type=simple
WorkingDirectory=/srv/sandstorm
Restart=on-failure
RestartSec=10
User=steam
ExecStartPre=-/usr/local/bin/update-server
ExecStart=/usr/local/bin/sandstorm-server

[Install]
WantedBy=multi-user.target
